<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v5/wxs">
  <Package Name="MyApp"
           Manufacturer="Your Company"
           Version="1.0.0"
           UpgradeCode="12345678-1234-1234-1234-123456789abc">
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="MyApp">
        <File Source="README.md" />
      </Directory>
    </StandardDirectory>
    <Feature Id="MainFeature" Title="MyApp Feature" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Package>
  <ComponentGroup Id="MainComponents">
    <Component>
      <File Source="README.md" />
    </Component>
  </ComponentGroup>
</Wix>
